:root {}

.flex {
    display: flex;
}

.display--block {
    display: block;
}

.font-madurai-400 {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
}

.header-1 {
    background: #F2F2F2;
    height: 44px;
}

#header-1--padding {
    padding-top: 0.5rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

.header-1__text {
    font-size: 12px;
    padding-right: 0.3rem;
}

.header-1__option {
    font-size: 12px;
    padding: 6px 50px 6px 5px;
    border: 1px solid #e5e5e5;
    color: #B5B5B5;
}

.margin-bottom-2 {
    margin-bottom: 2rem !important;
}

.py-15 {
    padding: 1.5rem 0;
}

.padding-y-2 {
    padding: 2rem 0;
}

.header-2__blocks {
    width: 50%;
    text-align: center;
}

#header-2__search {
    position: relative;
    padding-right: 10px;
}

#header-2__search::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 0;
    width: 15px;
    background: url("/SVG/search.svg") center / contain no-repeat;
    margin-top: -10px;
}

#header-2__search-input {
    width: 250px;
    background-color: #F2F2F2;
    border: none;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #B5B5B5;
    height: 40px;
}

@media screen and (min-width: 1026px) {
    #header-2__search {
        text-align: right;
        display: block;
    }
}

.header-2__icons {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.header-2__icons:hover {
    text-decoration: none;
}



/* Modal */

.modal__login {
    width: 320px;
}

.modal-title {
    margin-top: 0px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #072048;
}


.modal__login .modal-content {
    border: none;
    border-radius: 0px;
}

.modal__login .modal-header {
    position: relative;
    border: none;
}

.modal__login .modal-body {
    padding: 0.6rem 1rem 0 1rem;
}

.modal__login h4 {
    text-align: center;
    font-size: 26px;
}

.modal__login label {
    font-weight: normal;
    font-size: 13px;
}

.modal__login .form-control,
.modal__login .btn {
    min-height: 38px;
}

.modal__login .hint-text {
    text-align: center;
}

.modal__login .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal__login .checkbox-inline {
    margin-top: 12px;
}

.modal__login input[type="checkbox"] {
    position: relative;
    top: 1px;
}

.modal__login .btn {
    min-width: 100px;
    background-color: #0052A0;
    border: none;
    line-height: normal;
    border-radius: 0px;
}

.modal__login .btn:hover,
.modal__login .btn:focus {
    background-color: #072048;
}

.modal__login .hint-text a {
    color: #999;
}

.create-account {
    width: 80%;
    background-color: #F3F9FF;
    padding: 15px 5px;
    margin: 0 auto;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #072048;
}

.form-check-label {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #072048;
}

.btn-primary {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-footer {
    border: 0px !important;
}


/* Side minicart */

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #072048;
    text-decoration: none;
}

#side-cart__empty {
    padding: 40px 0;
    text-align: center;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #072048;
}

.side-cart__subtitles {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #072048;
    padding-left: 25px;
    padding-bottom: 10px;
}

.slides__text {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #072048;
}

.side-nav .side-cart__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

.side-cart__closebtn:hover {
    text-decoration: none;
    color: black;
}

.badge:after {
    content: attr(value);
    font-size: 16px;
    color: #fff;
    background: #0052A0;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -10px;
    top: -10px;
}

#side-cart__your-cart {
    position: absolute;
    top: 27px;
    left: 25px;
    font-size: 14px;
    margin-right: 50px;
    color: black;
    font-weight: 700;
}

@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav a {
        font-size: 18px;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Carousel */

.slideshow-container__slides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container__img {
    height: auto;
    padding-right: 5px;
    width: 85%;
    display: block;
}

.slideshow-container__img-2 {
    height: auto;
    padding-left: 5px;
    width: 85%;
    display: block;
}

/* Next & previous buttons */
.slides__prev,
.slides__next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 0 5px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-container a {
    padding: 8px 8px 8px 8px;
}

.slides__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slides__prev:hover,
.slides__next:hover {
    background-color: #072048;
    color: white !important;
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

#header-3 {
    background-color: #072048;
    height: 48px;
    /* margin-top: 25px; */
    margin-bottom: 0;
}

/* #third-header {
    background-color: #072048;
    height: 48px;
    margin-top: 25px;
    margin-bottom: 0;
} */

@media screen and (max-width: 1025px) {
    #header-3 {
        display: none;
    }
}

.header-3__menu {
    width: 50%;
}

.menu__items {
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 15px 10px 15px;
}

.menu__sub-items {
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem 1rem 0.7rem 1rem;
}

.menu__items .menu__sub-items {
    text-align: center;
}

.menu__items:link,
.menu__items:visited {
    text-decoration: inherit;
    color: #FFFFFF;
    cursor: pointer;
}

.menu__items:hover,
.menu__items:active {
    background-color: #0052A0;
}

.menu__dropdown:hover .dropdown__content {
    display: block;
}

.menu__dropdown:hover .dropdown__btn {
    background-color: #0052A0;
}

.dropdown__btn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-family: 'Archivo';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem 1rem 0.7rem 1rem;
}

#dropdown__icon {
    margin-top: 3px;
    padding-left: 10px;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #072048;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown__content a {
    color: #fff;
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.dropdown__content a:hover {
    background-color: #0052A0;
    color: #FFFFFF;
    text-decoration: inherit;
}

.dropdown:hover .dropdown__content {
    display: block;
}


/* Meniu Mobile */
.mobile-nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.mobile-nav #mobile-nav__links {
    display: none;
}

.mobile-nav a {
    color: white;
    padding: 0.7rem 1rem;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}

.mobile-nav a:hover {
    text-decoration: none;
}

.mobile-nav a.icon {
    background: #072048;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-nav a:hover {
    background-color: #0052A0;
    color: white;
}

@media screen and (min-width: 1026px) {
    .mobile-nav {
        display: none;
    }
}

.menu__items .menu__sub-items {
    text-align: center;
}

.third-elements:link,
.third-elements:visited {
    text-decoration: inherit;
    color: #FFFFFF;
    cursor: pointer;
}

.third-elements:hover {
    background-color: #0052A0;
}

.third-elements:active {
    background-color: #0052A0;
}

/* block-1 */
/* .block-1__column {
    float: left;
    width: 50%;
    padding: 10px;
} */

.block-1 {
    height: 500px;
}

.block-1__content-alignment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block-1__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center right;
}

.block-1--grid {
    margin-top: -400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1290px) {
    .block-1--grid {
        grid-template-columns: 1fr;
        margin-top: 20px;
        text-align: center;

    }
}

@media screen and (max-width: 1025px) {
    .block-1__column {
        float: none;
        width: 100%;
        padding: 0.7rem;
    }

    .header-2 {
        display: block;
    }
}

.block-1__title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: #072048;
    margin-bottom: 0;
    padding-bottom: 0.7rem;
}

.block-1__par {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* margin-top: -10px; */
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0;
    color: #072048;
}

.block-1__btn {
    background: #0052A0;
    height: 44px;
    margin-top: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.zoom-in {
    transition: transform .2s;
}

.zoom-in:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

/* Block-2 */
.block-2 {
    text-align: center;
}

.block-2__par {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #072048;
}

.resize-images {
    width: 250px;
    height: auto;
}

/* @media (min-width:1700px) {
    .block-2 {
        padding-top: 90px;
    }
}

@media (max-width:1289px) {
    .block-2 {
        padding-top: 50px;
    }
} */



.block-2__title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #072048;
    margin-bottom: 0;
    padding-bottom: 0.7rem;
}

/* .block-2__par {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #072048;
} */

.block-2__food-titles {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #072048;
}

.block-2__image-layout {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width:700px) {
    .block-2__image-layout {
        grid-template-columns: 1fr;
    }
}

@media (min-width:700px) and (max-width:900px) {
    .block-2__image-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:900px) and (max-width:1080px) {
    .block-2__image-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.block-2__img {
    padding-bottom: 1.3rem;
    /* transition: transform .2s; */
}

/* .block-2__img:hover {
    text-decoration: none;
} */

/* .block-2__img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
/* -webkit-transform: scale(1.1); */
/* Safari 3-8 */
/* transform: scale(1.1);
}  */

.image-block-1 {
    width: 100%;
    height: auto;
}

.block-3 {
    display: flex;
    justify-content: center;
}

.block-3__first-container {
    width: 400px;
    text-align: center;
    margin-top: 50px;
    /* margin-bottom: 20px; */
}

@media screen and (max-width: 1025px) {
    .block-3__first-container {
        width: 70%;
        text-align: center;
        margin-top: 50px;
    }
}

.block-3__items-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.block-3__container {
    padding: 3rem 2rem;
    background: #F3F9FF;
}

@media (max-width:700px) {
    .block-3__items-layout {
        grid-template-columns: 1fr;
    }
}

@media (min-width:700px) and (max-width:900px) {
    .block-3__items-layout {
        grid-template-columns: 1fr 1fr;
    }
}

.title-margin {
    margin-bottom: 30px;
}

.image-block-2 {
    width: 100%;
    height: auto;
}

.block-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    /* margin-bottom: 30px; */
}

.block-4__title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #072048;
    margin-bottom: 0;
    text-align: center;
}

.block-4__container {
    padding: 1.3rem 2rem;
    background: #F3F9FF;
}

@media screen and (max-width: 1025px) {
    .block-4 {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        /* margin: 0 25px 30px 25px; */
    }

    .align {
        text-align: center;
    }
}

.block-4__par {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #072048;
}

/* Block 5 */
.block-5 {
    background-color: #072048;
    padding: 3rem 0;
}

.block-5__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .block-5__text-content {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

.block-5__title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
}

.block-5__par {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.block-5__btn {
    background: #0052A0;
    height: 44px;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.block-5__img {
    width: -webkit-fill-available;
}

@media (max-width: 1200px) {
    .block-5__grid {
        display: block;
    }

    .block-5__img {
        padding-top: 2rem;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 1025px) {
    .block-6 {
        text-align: center;
    }

    .block-6--display-block {
        display: block;
    }
}

.block-6__title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #072048;
    margin-bottom: 0;
    padding-bottom: 0.7rem;
}

.block-6__par {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #072048;
}

.block-6--grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

@media screen and (max-width: 1025px) {
    .block-6--grid {
        display: block;
    }

    .block-6__pc-map {
        display: none;
    }

    .block-6--block {
        display: block;
        text-align: center;
    }

    .block {
        display: block;
    }
}

@media screen and (min-width: 1026px) {
    .block-6__mobile-map {
        display: none;
    }

    .block-6--padding-left {
        padding-left: 3rem;
    }
}

.block-6__mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
}

.block-6__gmap-canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 500px;
}

.block-6__contact-titles {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #072048;
    margin: 0;
}

.block-6__contact-a {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: #072048;
    margin-bottom: 0;
}

.block-6--contact-padding {
    padding-top: 2rem;
}

.block-6__contact-subtitles {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #072048;
    margin-bottom: 0;
}

.block-6__positions {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: none;
    color: #072048;
    margin-bottom: 0;
}

/* Footer-ul */

footer {
    background-color: black;
    padding: 3rem 0 2rem 0;
}

.footer__titles {
    color: white;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 0.2rem;
    margin-bottom: 0;
}

.footer__info {
    color: white;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.footer__info:hover {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1025px) {
    .footer--align {
        text-align: center;
    }

    .footer--block {
        display: block;
    }

    .footer__social {
        padding-top: 2rem;
        text-align: center;
    }

    .footer__columns {
        display: block !important;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 1026px) {
    .footer__social {
        float: right
    }
}

.footer__social-items {
    margin: 15px 15px 0 15px;
}

.footer__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
}

.footer__items {
    display: grid;
    padding-top: 1rem;
}

.footer__last-words {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 30px;
}